{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center;">New Vehicle</h1>

<form action='/create_vehicle' method='POST' class="make_vehicle">
    {{ form.csrf_token }}
    <h5>Manufacturer Name:</h5>
    {{ form.manufacturer }}

    {% for error in form.manufacturer.errors %}
    <p>{{error}}</p>
    {% endfor %}

    <h5>Model:</h5>
    {{ form.model }}

    {% for error in form.model.errors %}
    <p>{{error}}</p>
    {% endfor %}

    <h5>VIN:</h5>
    {{ form.vin }}

    {% for error in form.vin.errors %}
    <p>{{error}}</p>
    {% endfor %}
    <br>
    <br>
    <br>
    {{ form.submit }}
</form>


{% endblock %}