{% extends 'base.html' %}

{% block content %}




<p>
    <strong>Manufacturer:</strong> {{ vehicle.manufacturer.name }}
</p>



<p>
    <strong>Model:</strong> {{ vehicle.model }}
</p>

<p>
    <strong>Vehicle Identification Number(VIN):</strong> {{ vehicle.vin }}
</p>
<p>
    <strong>Edit this vehicle:</strong> 
</p>

<form method="POST" action="{{ url_for('main.vehicle_detail', vehicle_id=vehicle.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        {{ form.model.label }}
        {{ form.model }}

        {{ form.vin.label }}
        {{ form.vin }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}